<#include "../layout.html">
<@layout>
<div id="app">
    <qfdt ref="qfdt" :data.sync="data"></qfdt>
</div>
<script type="text/javascript">
    var v = new Vue({
        el: "#app",
        data: function () {
            return {
                data: {
                    parameter: {},
                    qf: {
                        items: [{
                            key: "name_like",
                            value: "事件检索"
                        }],
                        buttons: [{
                            value: "查询",
                            handler: function () {
                                v.$refs.qfdt.flushData();
                            }
                        }, {
                            value: "添加",
                            handler: function () {
                                v.data.ddf.title = "添加事件";
                                v.data.ddf.show = true;
                            }
                        }, {
                            value: "修改",
                            handler: function () {
								var cur=v.$refs.qfdt.getCurrent();
								if(cur){
									v.data.ddf.title="修改指标";
									v.data.ddf.show=true;
									var result=getJson("select/1",{id:cur.dataset_id});
									v.data.ddf.data=result.event;
								}else{
									sm();
								}
                            }
                        }, {
                            value: "查看事件",
                            handler: function () {
                                var cur = v.$refs.qfdt.getCurrent();
                                if (cur) {
                                    location.href = "toDetail?id=" + cur.id;
                                } else {
                                    sm();
                                }
                            }
                        }]
                    },
                    dt: {
                        items: [{
                            key: "name",
                            value: "事件名称"
                        }, {
                            key: "createTime",
                            value: "添加时间"
                        }]
                    },
                    ddf: {
                        rules: {
							name: _sv("r")
                        },
                        data: {
							name: ''
                        },
                        items: [{
                            key: "name",
                            value: "事件名称"
                        }],
                        title: null,
                        show: false,
                        buttons: [{
                            value: "保存",
                            handler: function () {
                                v.$refs.qfdt.validate().then(function () {
                                    var tData = copy(v.data.ddf.data);
                                    if (tData.id&&tData.id!=''){
										getJson("update", tData);
										ss("保存成功");
									}else {
										getJson("insert", tData);
										ss("保存成功");
									}
                                    v.$refs.qfdt.flushData();
                                    v.data.ddf.show = false;
                                });
                            }
                        }, {
                            value: "关闭",
                            handler: function () {
                                v.data.ddf.show = false;
                            }
                        }]
                    }
                }
            }
        }
    });
</script>
</@layout>