<#include "../layout.html">
<@layout>
<div id="app">
	<el-container>
		<el-header height="80" style="padding:15px;">
			<el-button size="medium" @click="toEvenUpload" type="info">导入数据</el-button>
			<el-button size="medium" @click="getExcelData" type="info">导出数据格式</el-button>
		</el-header>
		<el-main>
			<datatableall ref="dt" :cols="cols" :rows.sync="rows" remote=false></datatableall>
		</el-main>
		<el-footer height="45" style="line-height:45px;text-align:center">
			<el-button size="small" @click="toBlogUpload" type="success">导入博文
			</el-button>
			<el-button size="small" @click="userAssociation" type="primary">账号关联</el-button>
			<el-button size="small" @click="history.go(-1)">返回</el-button>
		</el-footer>
	</el-container>
</div>
<script type="text/javascript">
	var baseData =getJson("getBaseData");
	var v = new Vue({
		el: "#app",
		data: function () {
			return {
				cols: [{
					key: "sourceApp_name",
					value: "平台"
				}, {
					key: "user_name",
					value: "用户名"
				}, {
					key: "description",
					value: "个人描述"
				}, {
					key: "blog_num",
					value: "博文数量"
				}, {
					width:150,
					value:"操作",
					type:"button",
					buttons:[{
						value:"编辑",
						handler:function(idx,row){
							location.href="toUserDetail?id="+row.user_id;
						}
					},{
						value:"删除",
						type:"danger",
						handler:function(idx,row){
							sc(function (vv) {
								if (vv) {

								}
							});
						}
					}]
				}],
				rows: baseData.event_info || [],
				event_id:baseData.event_id || ''
			}
		},
		methods: {
            userAssociation: function () {
                let event=v.$refs.dt.getCurrent()
                if(event){
                    location.href="../user/toUserAssociation?event_id="+v.event_id;
                }else{
                    sm();
                }
			},
            toBlogUpload:function(){
                location.href="../blogNews/toUpload?event_id="+v.event_id;
            },
			toEvenUpload:function () {
				location.href="../event/toEventUpload";
			},
			getExcelData:function () {
				getJson("../event/download",{event_id:v.event_id})
			}
		}
	});
</script>
</@layout>