<#include "../layout.html">
<@layout>
<div id="app">
    <el-container>
        <el-header height="180" style="padding:15px;">
            <detailform ref="df" :items="dfitems" :data.sync="dfdata" :rules="dfrules"></detailform>
        </el-header>
        <el-main>
            <div style="float:left;width: 49.3333%">
                <h3><span>excel特征({{featureData.length}}/5):</span>
                    <el-button size="small" @click="addCom" type="primary">添加</el-button>
                </h3>
                <el-row style="margin: 10px 0;">
                    <el-col :span="12">
                        <span>excel对应位置(例:A1)</span>
                    </el-col>
                    <el-col :span="12">
                        <span>对应位置值</span>
                    </el-col>
                </el-row>
                <feature ref="feature" v-for="item in featureData" :data.sync="item"></feature>
            </div>
            <div style="float:left;width: 49.3333%">
                <datatableall :cols="cols" :rows.sync="rows" remote=false></datatableall>
            </div>
        </el-main>
        <el-footer height="45" style="line-height:45px;text-align:center">
            <el-button size="small" @click="addRelation" type="primary">添加对应关系</el-button>
            <el-button size="small" @click="saveData" type="primary">保存</el-button>
            <el-button size="small" @click="history.go(-1)">返回</el-button>
        </el-footer>
    </el-container>
    <el-dialog :title="'添加对应关系'" :visible.sync="dshow">
        <detailform ref="dfform" :items.sync="ditems" :data.sync="ddata" :rules="drules"></detailform>
        <div style="width:100%;padding:10px;text-align:center">
            <el-button size="mini" @click="saveItem" type="primary">保存</el-button>
            <el-button size="mini" @click="dshow=false">关闭</el-button>
        </div>
    </el-dialog>
</div>
<script type="text/javascript">

    var baseData = getJson("getBaseData");
    var v = new Vue({
        el: "#app",
        components: {
            feature: {
                props: {
                    data: {
                        type: String,
                        required: true
                    },
                },
                template: '<div>\
                <el-row>\
                    <el-col :span="12">\
		                 <el-input style="float: left;width: 50%;margin: 10px 0;" size="mini" v-model="data.placeVal" placeholder="请输入位置"></el-input>\
		                 <span style="line-height: 50px;float: right;margin-right: 88px;">→</span>\
		             </el-col>\
                     <el-col :span="12">\
		                <el-input style="float: left;width: 50%;margin: 10px 0;" size="mini" v-model="data.contentVal" placeholder="请输入值"></el-input>\
                     </el-col>\
                    </el-row>\
	            </div>'
            }
        },
        data: function () {
            return {
                dshow: false,
                featureData: [],
                dfitems: [{
                    key: "name",
                    value: "模板名称"
                }, {
                    key: "startCol",
                    value: "数据开始列(例:A-Z)"
                }, {
                    key: "startRow",
                    value: "数据开始行"
                }, {
                    key: "datatable_name",
                    value: "数据存储表名",
                    type: "select",
                    children: baseData.tableList
                }, {
                    key: "remark",
                    value: "备注",
                    type: "textarea"
                }],
                dfdata: baseData.mainData || {},
                dfrules: {
                    name: _sv("r"),
                    startCol: _sv("r,en"),
                    startRow: _sv("r,int+"),
                    datatable_name: _sv("r"),
                },
                cols: [{
                    key: "excel_id",
                    value: "excel对应列"
                }, {
                    key: "col_name",
                    value: "数据库字段"
                }, {
                    key: "primary_key",
                    value: "是否主键",
                    formatter: function (v) {
                        return v == 1 ? '是' : '否';
                    }
                }, {
                    value: "操作",
                    type: "button",
                    buttons: [{
                        value: "删除",
                        type: "warning",
                        handler: function (idx) {
                            sc(function (vv) {
                                if (vv) {
                                    v.rows.splice(idx, 1);
                                }
                            });
                        }
                    }]
                }],
                rows: [],
                ditems: [{
                    key: "excel_id",
                    value: "对应列序号(例:A-Z)",
                }, {
                    key: "col_name",
                    value: "数据库字段",
                    type: "select",
                    children: baseData.colList || []
                }, {
                    key: "primary_key",
                    value: "是否主键",
                    type: "select",
                    children: [{
                        key: 1,
                        value: "是"
                    }, {
                        value: "否",
                        key: 2
                    }]
                }],
                ddata: null,
                drules: {
                    excel_id: _sv("r"),
                    col_name: _sv("r"),
                    primary_key: _sv("r")
                },
            }
        },
        watch: {
            'dfdata.datatable_name': function (val, oldval) {
                if (val) {
                    var result = getJson("getTableInfo", {name: val});
                    if (result && result.success) {
                        v.ditems[1].children = result.colList;
                        v.rows = [];
                    }
                }
            }

        },
        mounted: function () {
            if (baseData.mainData && baseData.mainData.feature) {
                this.featureData = baseData.mainData.feature
                this.rows = baseData.mainData.relation
            } else {
                this.featureData = []
                this.addCom()
            }
        },
        methods: {
            saveItem: function () {
                v.$refs.dfform.validate().then(function () {
                    v.rows.push(v.ddata);
                    v.dshow = false;
                });
            },
            addCom: function () {
                if (this.featureData.length < 5) {
                    this.featureData.push({
                        placeVal: '',
                        contentVal: ''
                    })
                }
            },
            saveData: function () {
                v.$refs.df.validate().then(function () {
                    if (v.rows.length == 0) {
                        se("必须添加对应关系");
                        return;
                    }
                    let items = []
                    var isPrimary = false;
                    for (var ele in v.rows) {
                        var item = v.rows[ele];
                        if (item.primary_key == 1) {
                            if (isPrimary) {
                                se("仅允许设置一列为主键");
                                return;
                            } else {
                                isPrimary = true;
                            }
                        }
                        items.push({excel_id: item.excel_id, col_name: item.col_name, primary_key: item.primary_key})
                    }
                    if (!isPrimary) {
                        se("必须设置一列为主键");
                        return;
                    }

                    let featureRows = []
                    v.featureData.forEach(v => {
                        if (v.placeVal != '' && v.contentVal != '') featureRows.push(v)
                    })
                    if (featureRows.length > 0) {
                        var result = getJson("saveData", {
                            template: v.dfdata,
                            featureList: featureRows,
                            items: items
                        });
                        if (result && result.success) {
                            ss("保存成功，5秒后返回！");
                            setTimeout(function () {
                                history.go(-1);
                            }, 5000)
                        } else {
                            se(result.msg);
                        }
                    } else {
                        se("没有excel特征");
                    }
                });
            },
            addRelation: function () {
                if (v.dfdata.datatable_name) {
                    v.dshow = true;
                    v.ddata = {primary_key: 2}
                } else {
                    sm("请选择一个数据库存储表");
                }
            },
        }
    });
</script>
</@layout>