<#include "../layout.html" />
<@layout>
<style type="text/css">
    .el-container, .el-header, .el-aside, .el-main {
        padding: 0px;
    }

    .container {
        padding: 10px;
        box-sizing: border-box;
        text-align: center;
    }

    .el-card {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }

    .el-card__header {
        padding: 8px 10px;
    }
</style>
<div id="app">
    <el-container>
        <el-header height="130">
            <div class="container">
                <el-card>
                    <div slot="header">
                        <div style="text-align:left;font-size:15px;"><span
                                style="border-radius:50%;background-color:#f72a6b;height:20px;width:20px;display:inline-block; color:white;text-align:center">1</span><span
                                style="padding:10px;">添加文件</span></div>
                    </div>
                    <el-form ref="converterForm" label-width="120">
                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="选择Excel">
                                    <el-upload
                                            ref="upload"
                                            :auto-upload="false"
                                            :on-success="fileUploadSuccess"
                                            :on-error="fileUploadError"
                                            :disabled="importBtnDisabled"
                                            :limit="1"
                                            :action="action"
                                            name="file"
                                            accept="application/vnd.ms-excel">
                                        <el-button slot="trigger" size="small" type="primary">选取文件</el-button>
                                        <el-button
                                                :loading="loading"
                                                style="margin-left: 10px;"
                                                size="small"
                                                type="success"
                                                @click="submitUpload">上传到服务器</el-button>
                                    </el-upload>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="事件">
                                    <el-select filterable size="mini" v-model="event_id">
                                        <el-option v-for="item in eventList" :label="item.value" :key="item.key"
                                                   :value="item.key"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </el-form>
                </el-card>
            </div>
        </el-header>
        <el-main style="padding-top:10px;box-sizing: border-box;overflow:hidden">
            <div class="container">
                <el-card style="height:95%;">
                    <div slot="header">
                        <div style="text-align:left;font-size:15px;">
                            <span style="border-radius:50%;background-color:#f72a6b;height:20px;width:20px;display:inline-block; color:white;text-align:center">2</span><span
                                style="padding:10px;">文件预览</span>
                        </div>
                    </div>
                    <el-container style="overflow:hidden;height: 80%">
                        <datatableall :cols="cols" :rows.sync="rows" remote=false></datatableall>
                    </el-container>
                </el-card>
            </div>
        </el-main>
        <el-footer height="50">
            <div class="container">
                <el-button size="small" @click="addData" type="primary">保存数据</el-button>
            </div>
        </el-footer>
    </el-container>
</div>
<script type="text/javascript">
    var baseData=getJson("../blogNews/getBaseData")
    var v = new Vue({
        el: "#app",
        data: function () {
            return {
                event_id:baseData.event_id||'',
                filelimit: "xlsx,xls",
                fileData: new FormData(),
                fileLength: 0,
                uploadLogo: 0,
                buttonS: false,
                action:'../blogNews/uploadFile',
                files: [],
                cols: [{
                    key: "source_app_name",
                    value: "平台"
                }, {
                    key: "user_name",
                    value: "用户名"
                }, {
                    key: "lssue_date",
                    value: "发文日期"
                }, {
                    key: "content",
                    value: "博文内容"
                }],
                rows: [],
                importBtnDisabled: false, // 按钮是否禁用,
                loading: false,
                eventList:baseData.eventList||[]
            }
        },
        methods: {
            //上传成功
            fileUploadSuccess(response) {
                //提示信息
                this.loading = false
                this.$message({
                    type: 'success',
                    message: '读取博文成功!'
                })
                console.log(response);
                this.rows = response.data.blogList;
            },
            //上传失败
            fileUploadError() {
                this.loading = false
                this.$message({
                    type: 'error',
                    message: '读取博文失败！'
                })
            },
            submitUpload: function () {
                if (this.event_id==''){
                    sw("请选择事件")
                    return;
                }
                v.fileData = new FormData();
                v.$refs.upload.submit();
                if (v.fileLength == 0) {
                    return;
                }
                v.uploadLogo = "1";
                var that = v;
                that.buttonS = true;
                $.ajax({
                    type: "post",
                    url: "../blogNews/uploadFile",
                    data: that.fileData,
                    contentType: false,
                    processData: false,
                    dataType: 'json',
                    success: function (data) {
                        that.buttonS = false;
                        if (data) {
                            if (data.code == "200") {
                                that.rows=data.data.blogList
                                that.uploadLogo = 2;
                                that.files = [];
                                that.fileLength = 0;
                                that.dShow = false;
                            } else {
                                that.uploadLogo = 3;
                            }
                        } else {
                            that.uploadLogo = 3;
                        }
                    },
                    error: function (error) {
                        that.buttonS = false;
                        that.uploadLogo = 3;
                    }
                });
            },
            uploadFile: function (file) {
                v.fileData.append(file.file.name, file.file);
                v.fileLength++;
            },
            fileTypeHandler: function (file) {
                if (v.filelimit) {
                    var fs = v.filelimit.split(",");
                    var flag = false;
                    for (var ele in fs) {
                        if (file.name.endWith("." + fs[ele])) {
                            flag = true;
                            break;
                        }
                    }
                    if (!flag) {
                        se("不是" + v.filelimit + "文件");
                        return false;
                    }
                }
                return true;
            },
            addData: function () {
                var result=getJson("../blogNews/batchAddBlogNews",{rows:this.rows,event_id:this.event_id});
                if(result){
                    this.rows = []
                    ss()
                }
            }
        }
    });
</script>
</@layout>