<#include "../layout.html" />
<@layout>
<style type="text/css">
    .el-container, .el-header, .el-aside, .el-main {
        padding: 0px;
    }

    .container {
        padding: 10px;
        box-sizing: border-box;
        text-align: center;
    }

    .el-card {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }

    .el-card__header {
        padding: 8px 10px;
    }
</style>
<div id="app">
    <el-form ref="form" :model="dataInfo" label-width="120">
        <el-container>
            <el-header height="140">
                <div class="container">
                    <el-card>
                        <div slot="header">
                            <div style="text-align:left;font-size:15px;"><span
                                    style="border-radius:50%;background-color:#f72a6b;height:20px;width:20px;display:inline-block; color:white;text-align:center">1</span><span
                                    style="padding:10px;">关联基础信息</span></div>
                        </div>
                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="事件名称" prop="event_id">
                                    <el-select @change="selectEven" filterable size="mini" v-model="dataInfo.event_id">
                                        <el-option v-for="item in eventList" :label="item.value" :key="item.key"
                                                   :value="item.key"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="平台范围" prop="sourceApps">
                                    <el-select size="mini" multiple v-model="dataInfo.sourceApps">
                                        <el-option v-for="item in appList" :label="item.value" :key="item.key"
                                                   :value="item.key"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                        </el-row>

                    </el-card>
                </div>
            </el-header>
            <el-main style="padding-top:10px;box-sizing: border-box;overflow:hidden">
                <div class="container">
                    <el-card style="height:95%;">
                        <div slot="header">
                            <div style="text-align:left;font-size:15px;">
                                <span style="border-radius:50%;background-color:#f72a6b;height:20px;width:20px;display:inline-block; color:white;text-align:center">2</span><span
                                    style="padding:10px;">关联用户信息</span>
                                <el-button size="mini" @click="startAss" type="success">开始关联</el-button>
<!--                                <el-button size="mini" type="success">导出数据</el-button>-->
                            </div>
                        </div>
                        <el-container style="overflow:hidden">
                            <el-aside width="530"
                                      style="padding:5px 0px;box-sizing: border-box;overflow:hidden;margin-right: 110px;">
                                <el-row>
                                    <el-col :span="24">
                                        <el-form-item label="主账号平台" prop="user_inApp">
                                            <el-select @change="selectInApp" size="mini" v-model="dataInfo.user_inApp">
                                                <el-option v-for="item in sourceAppList" :label="item.value"
                                                           :key="item.key"
                                                           :value="item.key"></el-option>
                                            </el-select>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="24">
                                        <el-form-item label="主账号" prop="user_id">
                                            <el-select size="mini" v-model="dataInfo.user_id">
                                                <el-option v-for="item in userList" :label="item.value" :key="item.key"
                                                           :value="item.key"></el-option>
                                            </el-select>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="24">
                                        <el-form-item label="匹配进程">
                                            <el-progress :text-inside="true" :stroke-width="26"
                                                         :percentage="percentage"></el-progress>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                            </el-aside>
                            <el-main style="padding:5px 0px 5px 5px;box-sizing: border-box;overflow:hidden;">
                                <el-container style="overflow:hidden">
                                    <el-header height=25>
                                        <div style="width:100%;text-align:left;font-size:15px;">匹配结果</div>
                                    </el-header>
                                    <el-main style="overflow:hidden">
                                        <div id="myGrid" style="height: 240px;width:500px;"
                                             class="ag-theme-alpine"></div>
                                    </el-main>
                                </el-container>
                            </el-main>
                        </el-container>
                    </el-card>
                </div>
            </el-main>
            <el-footer height="50">
                <div class="container">
                    <el-button size="small" @click="toMatching" type="primary">作者身份匹配</el-button>
                    <el-button size="small" @click="history.go(-1)">返回</el-button>
                </div>
            </el-footer>
        </el-container>
    </el-form>
</div>
<script type="text/javascript">
    var columnDefs = [
        {headerName: '平台', field: 'sourceApp_name'},
        {headerName: '用户名', field: 'user_name'},
        {headerName: '匹配度', field: 'likes'},
    ];

    var data = [];

    var gridOptions = {
        i18n: 'zh-cn',
        columnDefs: columnDefs,
        rowData: data,
        onGridReady: function () {
            gridOptions.api.sizeColumnsToFit();
        },
        defaultColDef: {
            editable: true,
            enableRowGroup: true,
            enablePivot: true,
            enableValue: true,
            sortable: true,
            resizable: true,
            filter: true
        },
        pagination: false,
        paginationAutoPageSize: true,
    };

    document.addEventListener("DOMContentLoaded", function () {
        var eGridDiv = document.querySelector('#myGrid');
        new agGrid.Grid(eGridDiv, gridOptions);
    });

    var baseData = getJson("../user/getUAbaseData");
    var v = new Vue({
        el: "#app",
        data: function () {
            return {
                appList: baseData.salist || [],
                dataInfo: baseData.dataInfo || {},
                eventList: baseData.eventList || [],
                sourceAppList: baseData.sourceAppList || [],
                userList: [],
                percentage: 100,
            }
        },
        methods: {
            toMatching: function () {
                if (typeof v.dataInfo.event_id == 'undefined' || v.dataInfo.event_id == '') {
                    sw("请选择事件")
                    return;
                }
                if (typeof v.dataInfo.user_id == 'undefined' || v.dataInfo.user_id == '') {
                    sw("请选择主账号")
                    return;
                }
                location.href = "../user/toUserMatching?event_id=" + v.dataInfo.event_id + "&user_id=" + v.dataInfo.user_id;
            },
            selectInApp: function (val) {
                var result = getJson("../user/getUserListByApp", {id: val});
                if (result && result.userlist) {
                    delete v.dataInfo.user_id
                    v.userList = result.userlist
                }
            },
            startAss: function () {
                v.percentage = 0
                setTimeout(function () {
                    var int = setInterval(function () {
                        v.percentage++
                        if (v.percentage == 100) {
                            gridOptions.api.setRowData([
                                {sourceApp_name: "weibo", user_name: "一直独立孤行的侠", likes: "0.89"},
                                {sourceApp_name: "weibo", user_name: "一只想飞的狸花猫", likes: "0.72"},
                                {sourceApp_name: "weibo", user_name: "神一样的甜甜猫", likes: "0.71"},
                                {sourceApp_name: "weibo", user_name: "写一封信", likes: "0.59"},
                                {sourceApp_name: "weibo", user_name: "X_小虎牙_T", likes: "0.51"},
                            ]);
                            clearInterval(int)
                        }
                    }, 50)
                }, 500)
            },
            selectEven: function (val) {
                if (val) {
                    var result = getJson("getAppListByEven", {event_id: val});
                    if (result) {
                        delete v.dataInfo.sourceApps
                        v.appList = result.appList
                    }
                }
            }
        }
    });
</script>
</@layout>