<#include "../layout.html">
<@layout>

<style type="text/css">
    .avatar-uploader .el-upload {
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }

    .avatar-uploader .el-upload:hover {
        border-color: #409EFF;
    }

    .avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 123px;
        height: 123px;
        line-height: 123px;
        text-align: center;
    }

    .avatar {
        width: 123px;
        height: 123px;
        display: block;
    }
</style>
<div id="app">
    <el-container>
        <el-header height="100" style="padding:15px;">
            <el-form ref="userform" :model="user" label-width="120" :rules="rules">
                <el-row>
                    <el-col :span="12">
                        <el-row>
                            <el-col>
                                <el-form-item label="用户名" prop="user_name">
                                    <el-input size="mini" v-model="user.user_name"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="24">
                                <el-form-item label="个人描述" prop="description">
                                    <el-input size="mini" v-model="user.description" type="textarea"
                                              :rows="2"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </el-col>
                    <el-col :span="12">
                        <el-form-item label="用户头像" prop="photo_loc">
                            <img v-if="user.photo_loc" :src="getImg(user.photo_loc)" class="avatar">
                            <img v-else src="/img/1.jpg" class="avatar">
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>
        </el-header>
        <el-main>
            <h2 style="padding: 5px ">用户博文</h2>
            <datatableall :cols="cols" :rows.sync="rows" remote=false style="height: 90%"></datatableall>
        </el-main>
        <el-footer height="45" style="line-height:45px;text-align:center">
            <el-button size="small" @click="saveData" type="primary">保存</el-button>
            <el-button size="small" @click="history.go(-1)">返回</el-button>
        </el-footer>
    </el-container>
</div>
<script type="text/javascript">
    var baseData = getJson("../user/getBaseData");
    var v = new Vue({
        el: "#app",
        data: function () {
            return {
                user: baseData.user || {},
                rules: {
                    user_name: _sv("r"),
                    description: _sv("r"),
                },
                cols: [{
                    key: "create_time",
                    value: "发文日期"
                }, {
                    key: "content",
                    value: "博文内容"
                }],
                rows: baseData.blogList || []
            }
        },
        methods: {
            getImg:function(imgName){
                return '../../static/img'+imgName
            },
            handleFileUploaderChange(file) {
                const self = this
                let reader = new FileReader()
                reader.readAsDataURL(file.raw)
                reader.onload = function (event) {
                    let img_base64 = this.result
                    self.user.photo_loc = img_base64
                }
            },
            beforeAvatarUpload: function (file) {
                let isJPG = file.type === 'image/jpeg';
                if (!isJPG) {
                    this.$message.error('上传头像图片只能是 JPG 格式!');
                }
                return isJPG;
            },
            saveData: function () {
                v.$refs.userform.validate().then(function () {
                    var result = getJson("../user/update", v.user);
                    if (result) {
                        ss()
                    }
                });
            },
        }
    });
</script>
</@layout>